@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');


:root {
  --color-body: #b6cbce;
  --color-heading: #eef3db;
  --color-base: #033f47;
  --color-base2: #022a30;
  --color-brand: #e0f780;
  --color-brand2: #deff58;
  --sidebar-width: 240px;
  --font-base: "Bai Jamjuree"
}

body {
  background-color: var(--color-base2);
  color: var(--color-body);
  font-family: var(--font-base), sans-serif;

}

h1,h2,h3,h4,h5,h6 {
  color: var(--color-heading);
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--color-body);
  transition: all 0.4s ease;
}

a:hover{
  color: var(--color-brand);
}

img {
  width: 100%;
}

.text-brand {
	color: var(--color-brand);
}

.bg-base {
	background-color: var(--color-base);
}


.full-height {
	min-height: 100vh;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 80px;
	padding-bottom: 80px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.shadow-effect {
	transition: all 0.5s;
}

.shadow-effect:hover {
	box-shadow: -6px 6px 0 0 var(--color-brand);
}

.iconbox {
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	background-color: var(--color-brand);
	color: var(--color-base);
	background-color: #ffffff00;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #033f47;
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  opacity: 1;
  border: none;
}

/* prev and next button  */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: brightness(0) invert(1);
}

.custom-icon {
  width: 20px;
  height: 20px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: #05525c;
}

/* prev and next button  */


/* navbar */

.navbar {
	background-color: var(--color-base);
}

.navbar .nav-link {
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
}

.navbar .nav-link:hover {
	color: var(--color-brand);
}

.navbar .nav-link.active {
	color: var(--color-brand);
}

/* navbar */

/* btn */

.btn {
	padding: 12px 28px;
	font-weight: 700;
}

.btn-brand {
	background-color: var(--color-brand);
	border-color: var(--color-brand);
	color: var(--color-base);
}

.btn-brand:hover,
.btn-brand-focus {
	background-color: var(--color-brand2);
	color: var(--color-base);
	border-color: var(--color-brand2);
}

.link-custom {
	font-weight: 700;
	position: relative;
}

.link-custom::after {
	content: "";
	width: 0%;
	height: 2px;
	background-color: var(--color-brand);
	position: absolute;
	left: 0;
	top: 110%;
	transition: all 0.4s;
}

.link-custom:hover::after {
	width: 100%;
}

/* btn */

/* card */

.card-custom .card-custom-image{
overflow: hidden;
}

.card-custom .card-custom-image img {
transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img {
transform: scale(1.1);
}

/* card */

/* contact */
#contact .form-control {
	background-color: var(--color-base);
	border-color: var(--color-base);
	color: var(--color-body)
}

#contact .form-control:focus {
border-color: var(--color-brand);
box-shadow: none;
}

#contact .form-control::placeholder {
color: var(--color-body);
}

#contact input.form-control {
height: 44px;
}

.contact-left{
    
	flex-basis: 35%;
}
.contact-right{
	flex-basis: 65%;
}
.contact-left p{
	margin-top: 30px;
	font-size: 20px;
}

.contact-left p i{
	color: var(--color-brand);
	margin-right: 15px;
}

.contact-right form{
	width: 100%;
} 



/* contact */


/* tablink */

.tab-titles{
	display: flex;
	margin: 20px 0 40px;
}
.tab-links{
	margin-right: 50px;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	position: relative;
}
.tab-links::after{
	content: '';
	width: 0;
	height: 3px;
	background: var(--color-brand);
	position: absolute;
	left: 0;
	bottom: -8px;
	transition: 0.5s;
}
.tab-links.active-link::after{
	width: 100%;
}
.tab-contents ul li{
	list-style: none;
	margin: 10px 0;
}
.tab-contents ul li span{
	color: var(--color-brand);
	font-size: 20px;
}
.tab-contents{
	display: none;
}
.tab-contents.active-tab{
	display: block;
}

/* tablink */

/* My Name */
p span {
	color: var(--color-brand);
	font-size: 2rem;
}

.social-icons a {
	width: 40px;
	height: 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-base);
	border-radius: 100px;
	font-size: 20px;
}

/* social icon */

/* form msg */
#msg {
	color:#fff;
	margin-top: 20px;
	display: block;
}

.img-flag{
	width: 75px;
}

/* form msg */


/* responsive layout */

@media (min-width: 992px) {

	.mobile-logo {
        display: none;
      }

	.navbar {
		min-height: 100vh;
		width: var(--sidebar-width);
		background: linear-gradient(rgba(3, 63, 71, 0.8),rgba(3, 63, 71, 0.8)), url(../images/Windows.png);
		background-size: cover;
		background-position: center;
	}



	.navbar-brand img {
		border: 8px solid var(--color-brand);
	}
	

/* responsive layout */

/* content wrapper */

#content-wrapper {
	padding-left: var(--sidebar-width);
}

/* content wrapper */


}
@media (max-width: 1208px) {

	.contact-left, .contact-right{
        flex-basis: 100%;
		justify-content: center;
		text-align: center;
    }

	.iconbox {
		margin-left: auto;
		margin-right: auto;
		background-color: #ffffff00;
		
	}

	.p {
		text-align: center;
	}
}
@media (min-width: 991px) and (max-width: 1208px) {
	.techstack {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
		flex-wrap: wrap;
	}
	.iconbox {
		margin-left: auto;
		margin-right: auto;
		background-color: #ffffff00;
		flex-direction: column;
	}
	.p {
		display: block;
		text-align: center;
	}
}



	@media (max-width: 991px) {

	
		.mobile-logo {
			display: block;
			width: 200px;
			margin-bottom: 30px;
		
		  }

		#home {
			text-align: center;
		}

		.mobile-logo {
			margin-left: auto;
			margin-right: auto;
		}

		.techstack {
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			width: 50%;
			flex-wrap: wrap;
			grid-column: 2/3;
		}
		.iconbox {
			margin-left: auto;
			margin-right: auto;
			background-color: #ffffff00;
			flex-direction: column;
		}
		.p {
			display: block;
			text-align: center;
		}

	

}

